<div class="home-container fixed min-w-full">
  <app-toolbar (lightMode)="changeTheme($event)"></app-toolbar>
</div>

<div class="chat-home flex justify-content-center align-items-center text-align-center min-h-screen">
  <div class="chat-caption text-700 text-center center">
    <h1 class="text-dark-600">
      FestivalGPT
    </h1>
    <div class="text-700 text-2xl mb-5">
      Dein persönlicher Festivalguide: Immer up-to-date, immer informiert
    </div>
    <div class="flex flex-column align-items-center gap-2">
            <span
              class="slidedown-icon h-2rem w-2rem bg-secondary border-circle inline-flex align-items-center justify-content-center">
                <p-button icon="pi pi-arrow-down" [rounded]="true" severity="secondary" (onClick)="scrollToTop()"/>
            </span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
