<p-toolbar styleClass="navbar bg-transparent p-2" (scroll)="onWindowScroll();">
    <ng-template pTemplate="start">
        <div class="flex flex-wrap align-items-center gap-3 pt-2 pl-2">
            <div>
                <img src="../../../../assets/icons/festivalGPT.webp" width="41px" height="auto">
            </div>
            <div class="text text-color-primary">
                FestivalGPT
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <p-toggleButton onIcon="pi pi-sun" offIcon="pi pi-moon" onIcon="pi pi-sun" offIcon="pi pi-moon" (onChange)="onChangeTheme($event)"/>
    </ng-template>
</p-toolbar>