<div class="chat-component flex flex-column min-h-screen max-h-screen justify-content-center flex-wrap">
    <div class="chat-home flex justify-content-center align-items-center text-align-center " >
        <div class=" text-700 text-center center">
            <h1 class="text-dark-600">
                Zu welchem Festival möchtest du?
            </h1>
            <div class="text-700 text-2xl mb-5">
                <div class="flex flex-column gap-2">
                    <p-autoComplete
                    [(ngModel)]="inputText"
                    placeholder="Festival..."
                    [suggestions]="suggestions"
                    (keydown)="autocompleteFestivals()" />
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="festival" class="max-h12-rem overflow-y-auto">
        <p-card [header]="festival.name" [subheader]="festival.city">
            <p>
             {{festival.description}}
            </p>
        </p-card>
    </div>
</div>
